<md-list>
  <h3 md-subheader>Player Settings</h3>
  <md-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <md-icon md-list-icon class="white">radio_button_checked</md-icon>
      </div>
      <div fxFlex="80" fxLayout="column">
        <md-slide-toggle>Toggle to set AI</md-slide-toggle>
      </div>
    </div>
  </md-list-item>
  <md-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <md-icon md-list-icon class="black">radio_button_checked</md-icon>
      </div>
      <div fxFlex="80" fxLayout="column">
        <md-slide-toggle>Toggle to set AI</md-slide-toggle>
      </div>
    </div>
  </md-list-item>
  <md-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <button md-button>Change</button>
    </div>
  </md-list-item>
  <p></p>
</md-list>