<mat-list>
  <h3 mat-subheader>Player Settings</h3>
  <mat-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <mat-icon mat-list-icon class="white">radio_button_checked</mat-icon>
      </div>
      <div fxFlex="80" fxLayout="column">
        <mat-slide-toggle>Toggle to set AI</mat-slide-toggle>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <mat-icon mat-list-icon class="black">radio_button_checked</mat-icon>
      </div>
      <div fxFlex="80" fxLayout="column">
        <mat-slide-toggle>Toggle to set AI</mat-slide-toggle>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <button mat-button>Change</button>
    </div>
  </mat-list-item>
  <p></p>
</mat-list>