<md-grid-list cols='16' rowHeight='1:1'  gutterSize='4px' [style.background]="'lightgreen'">
    <md-grid-tile *ngFor="let pos of board.cells| slice: 0:8; let i = index " rowspan="1" colspan="1">
        <button md-fab *ngIf="pos==0" (click)="processMove(i)"> <!--ng-mouseover="visible[i]=true;" ng-mouseout="visible[i]=false;" [ng-show]="visible[i]">-->
            <md-icon>location_searching</md-icon>
        </button>
        <button md-fab *ngIf="pos==2" disabled>
            <md-icon>radio_button_unchecked</md-icon>
        </button>
        <button md-fab *ngIf="pos==3" disabled>
            <md-icon>radio_button_checked</md-icon>
        </button>
    </md-grid-tile>
    <md-grid-tile rowspan="8" colspan="8">
    <md-list>
        <h3 md-subheader>Score</h3>
        <md-list-item>
            <md-icon md-list-icon>radio_button_unchecked</md-icon>
            <h4 md-line>{{board.whiteScore}}</h4>
            <p md-line> {{board.whiteWeightedScore}}</p>
        </md-list-item>
         <md-list-item>
            <md-icon md-list-icon>radio_button_checked</md-icon>
            <h4 md-line>{{board.blackScore}}</h4>
            <p md-line> {{board.blackWeightedScore}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Moving</h3>
        <md-list-item>
            <md-icon *ngIf="board.whiteTurn" md-list-icon>radio_button_unchecked</md-icon>
            <md-icon *ngIf="!board.whiteTurn" md-list-icon>radio_button_checked</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Moves</h3>
        <md-list-item *ngFor="let move of board.validMoves">
            <h4 md-line>{{move.cell}}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Diagnostics</h3>
         <md-list-item>
            <h4 md-line>{{diagnostics}}</h4>
        </md-list-item>
    </md-list>    
</md-grid-tile>    
    <md-grid-tile *ngFor="let pos of board.cells| slice: 8:64; let i = index " rowspan="1" colspan="1">
        <button md-fab *ngIf="pos==0" (click)="processMove(i+8)">
            <md-icon>location_searching</md-icon>
        </button>
        <button md-fab *ngIf="pos==2" disabled>
            <md-icon>radio_button_unchecked</md-icon>
        </button>
        <button md-fab *ngIf="pos==3" disabled>
            <md-icon>radio_button_checked</md-icon>
        </button>
    </md-grid-tile>
</md-grid-list>