<md-grid-list cols='8' rowHeight='1:1'  gutterSize='4px'>
    <md-grid-tile *ngFor="let pos of board.cells; let i = index " rowspan="1" colspan="1">
        <button md-fab *ngIf="pos==0" (click)="processMove(i)"> 
            <md-icon>location_searching</md-icon>
        </button>
        <button md-fab *ngIf="pos==2" disabled>
            <md-icon>radio_button_unchecked</md-icon>
        </button>
        <button md-fab *ngIf="pos==3" disabled>
            <md-icon>radio_button_checked</md-icon>
        </button>
    </md-grid-tile>
</md-grid-list>
