<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <h2>Reversi App, welcome players</h2>
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="app-content">
    <md-card>
        <button md-button routerLink='/board'>Play</button>
        <button md-button routerLink='/score'>Scores</button>
        <button md-button routerLink='/history'>Moves</button>
    </md-card>
    <md-card>
      <router-outlet></router-outlet>
    </md-card>
  </div>
</md-sidenav-container>