<div fxLayout="column" fxFlex>
  <mat-toolbar color="primary">
    <span>Reversi App, welcome players</span>
    <span fxFlex></span>
    <button mat-button (click)="newGame();"><mat-icon class="tb-icon">autorenew</mat-icon></button>
    <button mat-button (click)="undoMove();"><mat-icon class="tb-icon">undo</mat-icon></button>
    <button mat-button (click)="moveAI();"><mat-icon class="tb-icon">help</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" opened>
      <mat-tab-group>
        <mat-tab label="Score">
          <app-score #score></app-score>
        </mat-tab>
        <mat-tab label="Settings">
          <app-settings></app-settings>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <div class="content" fxFlex>
      <mat-card>
        <app-board #game></app-board>
      </mat-card>
    </div>
  </mat-sidenav-container>
</div>