<mat-list>
  <h3 mat-subheader>Score</h3>
  <mat-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <mat-icon mat-list-icon class="white">radio_button_checked</mat-icon>
      </div>
      <div fxFlex="40" fxLayout="column">
        <span>{{board.whiteScore}} (disks)</span>
      </div>
      <div fxFlex="40">
        <span>{{board.whiteWeightedScore}} (weighted)</span>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <mat-icon mat-list-icon class="black">radio_button_checked</mat-icon>
      </div>
      <div fxFlex="40" fxLayout="column">
        <span>{{board.blackScore}} (disks)</span>
      </div>
      <div fxFlex="40">
        <span>{{board.blackWeightedScore}} (weighted)</span>
      </div>
    </div>
  </mat-list-item>
  <p></p>
  <mat-divider></mat-divider>
  <h3 *ngIf="!board.hasEnded" mat-subheader>Moving</h3>
  <mat-list-item *ngIf="!board.hasEnded">
    <mat-icon *ngIf="board.whiteTurn" mat-list-icon class="white">radio_button_checked</mat-icon>
    <mat-icon *ngIf="!board.whiteTurn" mat-list-icon class="black">radio_button_checked</mat-icon>
  </mat-list-item>
  <h3 *ngIf="board.hasEnded" mat-subheader>Game Over!</h3>
  <mat-list-item *ngIf="board.hasEnded">
    <div *ngIf="board.whiteScore > board.blackScore" fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <mat-icon mat-list-icon class="white">radio_button_checked</mat-icon>
      <span>White has won</span>
    </div>
    <div *ngIf="board.whiteScore < board.blackScore" fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <mat-icon mat-list-icon class="black">radio_button_checked</mat-icon>
      <span>Black has won</span>
    </div>
    <div *ngIf="board.whiteScore == board.blackScore" fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <mat-icon mat-list-icon>drag_handle</mat-icon>
      <span>Draw</span>
    </div>
  </mat-list-item>
  <p></p>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Moves</h3>
  <mat-list-item *ngFor="let move of board.validMoves">
    <h4 mat-line>{{move.cell}}</h4>
  </mat-list-item>
</mat-list>