<md-list>
  <h3 md-subheader>Score</h3>
  <md-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <md-icon md-list-icon class="white">radio_button_checked</md-icon>
      </div>
      <div fxFlex="40" fxLayout="column">
        <span>{{board.whiteScore}} (disks)</span>
      </div>
      <div fxFlex="40">
        <span>{{board.whiteWeightedScore}} (weighted)</span>
      </div>
    </div>
  </md-list-item>
  <md-list-item>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <md-icon md-list-icon class="black">radio_button_checked</md-icon>
      </div>
      <div fxFlex="40" fxLayout="column">
        <span>{{board.blackScore}} (disks)</span>
      </div>
      <div fxFlex="40">
        <span>{{board.blackWeightedScore}} (weighted)</span>
      </div>
    </div>
  </md-list-item>
  <p></p>
  <md-divider></md-divider>
  <h3 *ngIf="!board.hasEnded" md-subheader>Moving</h3>
  <md-list-item *ngIf="!board.hasEnded">
    <md-icon *ngIf="board.whiteTurn" md-list-icon class="white">radio_button_checked</md-icon>
    <md-icon *ngIf="!board.whiteTurn" md-list-icon class="black">radio_button_checked</md-icon>
  </md-list-item>
  <h3 *ngIf="board.hasEnded" md-subheader>Game Over!</h3>
  <md-list-item *ngIf="board.hasEnded">
    <div *ngIf="board.whiteScore > board.blackScore" fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <md-icon md-list-icon class="white">radio_button_checked</md-icon>
      <span>White has won</span>
    </div>
    <div *ngIf="board.whiteScore < board.blackScore" fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <md-icon md-list-icon class="black">radio_button_checked</md-icon>
      <span>Black has won</span>
    </div>
    <div *ngIf="board.whiteScore == board.blackScore" fxLayout="row" fxFill fxLayoutAlign="space-around center">
      <md-icon md-list-icon>drag_handle</md-icon>
      <span>Draw</span>
    </div>
  </md-list-item>
  <p></p>
  <md-divider></md-divider>
  <h3 md-subheader>Moves</h3>
  <md-list-item *ngFor="let move of board.validMoves">
    <h4 md-line>{{move.cell}}</h4>
  </md-list-item>
</md-list>